
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#only_bg_color{
  background-color: #f8f5f4;
  
}
.main_container {
  display: flex;
  gap:-1em;
  width:95%;
  margin:auto;
  justify-content: space-evenly;
  
}
.covid_banner_box {
  display: flex;
  justify-content: start;
  font-family: segoe "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  align-items: center;
 
  
}
.covid_banner {
  margin-left: 32px;
  font-weight: 350;
  margin-top:12px;
}
.covid_banner_btn {
  display: flex;
  text-decoration: underline;
  padding-top: 8px;
  cursor: pointer;

}

.covid_banner_btn p:last-child {
  padding-left: 22px;
}
.back_to_all_product {
  display: flex;
  gap: 22px;
  align-items: center;
  color: rgb(41, 41, 166);
  background-color:#fff;
  padding:8px;
  cursor: pointer;
  
}

/* small_navbar start */

.navbar_sticky{
  position: sticky;
  top:0;
  z-index:100;
  /* width:121.9%; */
}
.ads_sticky{
  position: sticky;
  top:0;
  z-index:10;
}

/* room */





/* trying to responsive */


/* mobile view */

@media (min-width:80px) and (max-width:400px) {
  .mobile_View_ads{
    display:none;
  }
  .mobile_container_width,.main_container{
    width:100%;
  }
  .mobile_container_width{
    padding:0;
  }
}