.name_Hotel_map {
  display: flex;
  text-align: start;
  padding-top: 1em;
  padding:15px;
}
.see_review {
  display: flex;
  align-items: center;
  color: rgb(0, 94, 255);
  cursor: pointer;
}
.Hotel_location {
  margin-left: 10em;
}
.category_flex {
  display: flex;
  justify-content: space-between;
  
}

.hotel_category {
  padding: 15px;
}

.popular_items {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: start;
text-align: start; */
display: grid;
grid-template-columns: repeat(2,1fr);
}
.popular_items i {
  margin-right: 12px;
}
.popular_items{
  margin-top:-2px;
  text-align: start;
}
.explore_items > div {
  display: flex;
  justify-content: space-between;
  padding-right: 19px;

 
}
.explore_items i {
  margin-right: 20px;
}
