.heading1{
    border:solid #ededed;
    height: 40px;
    display:flex;
    justify-content:space-around;
    margin-top: 10px;
  }
  .heading{
   border:solid #ededed;
    height: 50px;
    width: 450px;
    background-color: #ededed;
  }
  .mainboxcenter{
    /* border:solid #ededed; */
    height: 1650px;
    width: 750px;
    margin: auto;
    
  }
  .mainboxleft{
    /* border:solid #ededed; */
    display: flex;
    height: 1650px;
    width: 450px;
  
  }
  .login{
   border:solid #ededed;
    height: 200px;
    width: 450px;
    display: flex;
    justify-content:space-around;
  }
  .logindetail{
    line-height: 5px;
    font-size: 15px;
  }
  .vl {
    border-left: 3px solid #f0f0f0;
    height: 150px;
  }
  .otherlogin{
    height: 30px;
    width: 150px;
    border-radius: 10px;
  }
  .custdetail{
   border:solid #ededed;
    height: 200px;
    width: 450px;
    line-height: 2px;
    font-size: 15px;
    margin-top: 10px;
  }
  .payment{
    line-height: 15px;
   border:solid #ededed;
    height: 350px;
    width: 100%;
    margin-top: 10px;
  }
  .booking{
    line-height: 12px;
   border:solid #ededed;
    height: 500px;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
  }
  .information{
   text-overflow: clip;
  border:solid #ededed;
   height: 290px;
   width: 100%;
   margin-top: 10px;
   font-size: 10px;
  }
  .hoteldetail{
    border:solid #ededed;
    height: 260px;
    
    margin-left: 10px;
    
  }
  .image{
    width: 290px;
    
  }
  .pricedetail{
    height: 260px;
    border:solid #ededed;
    width: 290px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }