div{
  margin: auto;
}

div>h1{
  font-size: 30px;
}
.fApp {
    text-align: center;
    /* font-size: smaller; */
    font-weight: lighter;
    margin: auto;
    border-color: grey;
    border: 0.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  *div{
    margin-bottom:-25px;
  }
  div>input{
    padding: 19px 100px 19px 100px;
    margin: auto;
    border: 0.5px solid black;
    border-radius: 10px;
  }
  .btnc{
    padding: 15px 130px 15px 130px;
    background-color: rgb(0, 0, 255);
    color: white;
    border-radius: 5px;
    margin: auto;
    font-size: medium;
    border: 0.2px;
  }
  .arrow{
    float: left;
  }
  .iconlog{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(230, 222, 222);
  }
 a{
  text-decoration:solid blue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
 }
.main1{
  text-align: center;
}
  
